@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(252, 252, 252);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  position: relative;
}

.content {
   min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
