.btn-my {
 display: inline-block;
 background: #1ea2b8;
 color: #fff;
 border: none;
 padding: 10px 20px;
 border-radius: 5px;
 cursor: pointer;
 text-decoration: none;
 font-size: 1rem;
}
.btn-my:focus {
 outline: none;
}
.btn-my:active {
 transform: scale(0.98);
}

.btn-my:hover {
  opacity: 0.9;
}


textarea {
  max-height: 150px;
  min-height: 150px;
}


.icon-img {
  display: block;
  margin: auto;
  width: 70px;
}

/* .btn-login {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
} */
