ul {
  list-style: none;
}

footer {
  background-color: #555;
  color: #bbb;
  margin-top: 30px;
  width: 100%;
}

/* Footer main */
.ft-main {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.main-footer a {
  text-decoration: none;
  color: #eee;
  font-size: 0.8rem;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: #fff;
  font-size: 1.2rem;
  padding-bottom: 0.625rem;
}



@media only screen and (max-width: 77.5rem /* 1240px */) {
  .ft-main {
    display: flex;
    justify-content: space-between;
  }
}
.ft-main-item {
  padding: 0.5rem;
}

/* Footer legal */
.ft-legal {
  background-color: #333;
}
