ul {
  list-style: none;
}

html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
height: 100%;
}

footer {
  background-color: #555;
  color: #bbb;
  width: 100%;
  margin-top: auto;
}


.main-footer a {
  text-decoration: none;
  color: #eee;
  font-size: 0.8rem;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: #fff;
  font-size: 1.1rem;
  padding-bottom: 0.625rem;
}

/* Footer main */
.ft-main {
  /* padding: 1.25rem 1.875rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-between;
  }
}
.ft-main-item {
  padding: 0.5rem;
}

/* Footer legal */
.ft-legal {
  background-color: #333;
}


