
#header h1 {
  font-size: 3rem;
  font-weight: 700;
}

#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.second_heading {
  font-size: 2rem;
  font-weight: 700;
}



@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

#header .btn-get-started {
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #1ea2b8;
  text-decoration: none;
  border: 2px solid #1ea2b8;
}

#header .btn-get-started:hover {
  background: #1ea2b8;
  color: #fff;
}




/*
@media (max-width: 992px) {
  #header {
    height: 80vh;
    text-align: center;
  }
  #header .header-img {
    text-align: center;
  }

  #header .header-img img {
    width: 60%;
  }
} */

@media (max-width: 768px) {
  #header {
    margin-top: 50px;
  }
  #header h1 {
    font-size: 2rem;
  }

  #header .header-img img {
    width: 70%;
    margin-top: 3rem;
  }
  .main__row {
    text-align: center;
  }
}



.rating_color {
  color: #1EA2B8;
}

